* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #f0f0f0;
  --text-color: #000000;
  --button-color: #4caf50;
  --border-color: #2f6931;
  --hover-color: #40a040;
  --page-activ: red;
}

[data-theme='dark'] {
  --primary-color: #000000;
  --secondary-color: #333333;
  --text-color: #ffffff;
  --button-color: rgb(100, 0, 0);
  --border-color: rgb(200, 0, 0);
  --hover-color: rgb(140, 0, 0);
  --page-activ: #4caf50;
}

.root-container {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  background-color: var(--primary-color);
  color: var(--text-color);
  display: flex;
  align-content: center;
  min-width: 320px;
  width: 100vw;
  min-height: 98vh;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin: 10px 10px;
  width: 840px;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rowBox {
  display: flex;
  justify-content: space-around;
}

input[type='text'] {
  width: 100%;
  max-width: 200px;
  padding: 10px;
  margin: 10px 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
}

input[type='text']:focus {
  border-color: var(--button-color);
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.3);
}

button {
  background-color: var(--button-color);
  border-color: var(--border-color);
  color: white;
  margin: 10px 5px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

button.choosen {
  background-color: var(--border-color);
}

button:hover {
  background-color: var(--hover-color);
  transform: scale(1.05);
}

button:active {
  transform: scale(1);
}

button.active {
  color: var(--page-activ);
  font-size: x-large;
  font-weight: bold;
}
