.results {
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

li.character {
  margin: 0;
  padding: 3px;
  border: var(--border-color) solid 1px;
}

input[type='checkbox'].default {
  margin: 0 10px;
}

ul.character {
  margin: 0;
  padding: 0;
  border: var(--border-color) solid 1px;
  list-style-type: none;
}

.character_property {
  padding: 3px;
  font-size: 12px;
}

.character_name {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.character_link {
  margin: 0;
  padding: 0;
}

.flyout-element {
  display: flex;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition:
    opacity 0.3s ease,
    max-height 0.3s ease;
  justify-content: space-around;
  align-items: center;
}

.flyout-element.active {
  max-height: 500px;
  opacity: 1;
  transition:
    opacity 0.3s ease,
    max-height 0.3s ease;
}

.button {
  max-width: 150px;
  align-self: center;
}

button.active {
  color: var(--page-activ);
  font-size: x-large;
  font-weight: bold;
}

.details {
  max-width: 400px;
  margin: 0 10px;
}
