li.character {
  margin: 0;
  padding: 3px;
  border: green solid 1px;
}

ul.character {
  margin: 0;
  padding: 0;
  border: green solid 1px;
  list-style-type: none;
}

.character_property {
  padding: 5px;
  font-size: 14px;
}

.character_name {
  margin: 0;
  padding: 0;
}
